*,*::before{
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

.wrapper{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  height: 100vh;
  width: 100%;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2em;
  background-color: #22232b;
  color: white;
}

.header-text{
  font-size: 2.5em;
}

p{
  margin-bottom: .5em;
}

.upload{
  width: 100%;
  font-size: 1em;
}

.openEye-btn,
.selected-color {
  width: 90%;
  padding: 1.5em;
  background-color: #383941;
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.openEye-btn:hover{
  background-color: #3f3f42;
}

.right {
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #363844;
  overflow: hidden;
}

.right-img{
  width: 100%;
  height: auto;
  max-width: 900px;
  margin: auto;
}
